.center
  .Content
    .Content__title
      recipgram
    .Content__btn1
      ログイン
    .Content__btn2
      新規登録
.Content__image
  .Content__imageList
    画像を入れる
.Footer
  .Footer__title
    recipgram 2020